{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>Добавление пассажира</title>
</head>

<body>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="exit" type="submit">Выйти</button>
    </form>
    <p>Вы вошли как: {{ user.username }}</p>

    <div class="container">
        
        <h2>Загрузить PDF</h2>
        <form method="post" action="{% url 'add_pas' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="file">Выберите файл PDF:</label>
            {{ form.file }}
            <button class="accept" type="submit">Загрузить</button>
        </form>

        <div>
            <button class="navlink"><a class="nav" href="{% url 'link_passenger_driver' %}">Привязать водителя</a></button>
        </div>

    </div>

    {% else %}
    {% endif %}
</body>

</html>