{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <title>Авторизация</title>
</head>
<body>
    <div class="login-container">
        <h1>Авторизация</h1><hr><br>
        <form method="post" class="login-form">
            {% csrf_token %}
            
            <p class="ttt">Введите Логин</p>
            <input class = "minecraft" type="text" id="username" name="username" placeholder="Логин"><br>
            <p class="ttt">Введите Пароль</p>
            <input class = "minecraft" type="password" id="password" name="password" placeholder="Пароль"><br><br>
            <button class = "btn" type="submit">Вход</button>
        </form>
    </div>
</body>
</html>
