
.login-container {
    background-color: #fff; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(242, 0, 0, 0.1);
    width: 400px; 
    margin: 0 auto; 
    text-align: center; 
}

.login-form {
    text-align: left; 
}

input {
    padding-left: 10px;
}
hr{
    border-color: #a3a3a321;
    
}

.dota {
    text-align: center;
}

h1 {
    color: #494949;
}
.minecraft{
    display: flex;
    border-radius: 20px;
    border-color: #ebebeb;
    width: 350px;
    height: 35px;
    background-color: #ebebeb;
    margin: 0 auto;
}

.btn {
    background-color: #5cb85c;
    border-radius: 20px;
    color: white;
    margin-left: 300px;
    width: 80px;
    height: 36px;
    font-size: 18px;
}

.ttt{
    margin-left: 24px;
    font-size: 18px; 
}

body {
    font-family: Arial, sans-serif;

    background-size: cover; 
    background-color: #1c1c1c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000000; 
}

button {
    background-color: #909190;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 16px;
    font-size: 16px; 
}